version: '3.8'

services:
  traffic-bot:
    # [重要] 請修改為你的 Image 名稱
    image: jhancc0118/traffic-generation:v2
    environment:
      - HEADLESS_MODE=true
    deploy:
      replicas: 20
      resources:
        limits:
          cpus: '0.8'
          memory: 1G
        reservations:
          memory: 300M
      placement:
        constraints:
          - node.role == worker
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
